# Install nix-direnv: https://github.com/nix-community/nix-direnv
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

use flake core-env

# Define custom git aliases and settings in the .gitconfig.local. Set the following variables to load it:

export GIT_CONFIG_COUNT=1
export GIT_CONFIG_KEY_0="include.path"
# GIT_CONFIG_VALUE_0: Path to the config file to include
# 1. ${BASH_SOURCE[0]} = Path to currently executing .envrc (symlink)
# 2. readlink -f = Follow symlink to get actual file path
# 3. dirname = Extract directory portion
# 4. Append /.gitconfig.local to create full path
GIT_CONFIG_VALUE_0="$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")/.gitconfig.local"
export GIT_CONFIG_VALUE_0
